services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: thash
      POSTGRES_PASSWORD: cloutgrid@2024
      POSTGRES_DB: cloutgrid
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - db
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/static:/app/static
      - ./backend/media:/app/media
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend/build:/app/build

  nginx:
    image: nginx:latest
    restart: always
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./frontend/build:/var/www/frontend
      - ./backend/static:/var/www/backend/static
      - ./backend/media:/var/www/backend/media
      - ./certbot/certs:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

  certbot:
    image: certbot/certbot
    restart: always
    depends_on:
      - nginx
    volumes:
      - ./certbot/certs:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew --webroot -w /var/www/certbot;
        sleep 12h & wait $${!};
      done"

volumes:
  postgres_data:
