/* General styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.job-container {
  display: flex;
  background-color: rgb(249, 255, 239);
  height: 100vh;
}

.job-listing {
  flex: 1;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.job-listing-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.job-listing-item:hover,
.job-listing-item.selected {
  background-color: #f0f0f0;
  box-shadow: inset 3px 0 0 #0073e6;
}

.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
}

.job-listing-info {
  display: flex;
  flex-direction: column;
}

.job-listing-info h3 {
  margin: 0;
  font-size: 1.1em;
  color: #333;
}

.job-listing-info p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #777;
}

.job-details {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}

.job-subtitle {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.job-details h1 {
  font-size: 2em;
  margin-top: 0;
  color: #0073e6;
}

.job-details h2 {
  margin-top: 20px;
  font-size: 1.2em;
  color: #0073e6;
}

.job-details p,
.job-details ul {
  margin-top: 10px;
  color: #555;
}

.job-details ul {
  list-style-type: disc;
  padding-left: 20px;
}

.job-details li {
  margin-bottom: 10px;
}
