@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-card {
  @apply w-[calc(100vw-20px)] max-w-[450px] shadow-lg flex flex-col justify-center items-center overflow-clip bg-login-bg bg-no-repeat bg-center bg-cover h-2/3 rounded-2xl;
}

.center {
  @apply flex justify-center items-center;
}

.center-left {
  @apply flex flex-col justify-center items-start;
}

.center-vertical {
  @apply flex flex-col justify-center items-center;
}

.center-left label {
  @apply font-serif font-bold
}

.null-text {
  @apply w-full font-bold text-lg text-gray-500 font-serif text-center p-5
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #001845;
  @apply bg-zinc-100;
}

body::-webkit-scrollbar {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noscroll {
  scrollbar-width: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.button-54 {
  background-color: #001845;
  border: 0 solid #606c38;
  border-radius: 1.5rem;
  height: 3rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.9rem 1.2rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1px 5px;
}

.button-54:hover {
  background-color: #023e8a;
  color: #fefae0;
}

.button-54:disabled {
  background-color: #023e8a;
  color: #fefae0;
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

.search-container {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.search-dropdown {
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  width: 320px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scrollbar-width: none;
}

.search-dropdown a {
  color: #000;
}

.search-result {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-result:hover {
  background-color: #f2f0eb;
}

.search-result:last-child {
  border-bottom: none;
}

.logo-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-items li {
  margin-left: 10px;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 6vh;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .navbar-items.open {
    display: flex;
    justify-self: center;
    margin-top: 20px;
    padding-top: 10px;
  }

  .navbar-items a {
    margin: 10px 0;
    text-align: center;
  }

  .search-container {
    display: none;
  }

  .logo-profile {
    display: none;
  }

  .button-mobile {
    display: block;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .hamburger.rotate {
    transform: rotate(90deg);
  }

  .home-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    gap: 10px;
  }

  .home-card {
    flex: 0 0 100%;
    scroll-snap-align: start;
    margin-right: 10px;
  }

  .card-1,
  .card-2,
  .card-3 {
    display: none;
  }

  .home-card-container {
    scroll-behavior: smooth;
  }
}

/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* ************************************************************************************************** */

.form-input {
  padding: 10px 15px;
}

.form-input input,
.form-input textarea,
.form-input select {
  width: 100%;
  height: 3.3rem;
  font-size: 13px;
  padding: 10px;
  border: 0;
  background-color: #fff;

  @apply rounded-2xl border shadow
}

.form-input input:focus,
.form-input textarea:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-input input[type="file"] {
  display: none;
}

.form-input textarea {
  height: 10rem;
  resize: none;
}

.input-label {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}

.reg-secondary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.reg-secondary label {
  margin: 10px;
  margin-right: 50px;
}

.button-file {
  font-size: 15px;
}

.input-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-secondary h4 {
  margin: 0;
  margin-bottom: 5px;
}

.input-secondary p {
  font-size: 14px;
  color: #ff0000;
  max-width: 200px;
}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: auto;
}

.reg-primary {
  display: grid;
  grid-template-columns: auto auto;
}

.auth-button {
  margin-top: 30px;
}

/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* ************************************************************************************************** */

.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-container {
  @apply divide-y bg-zinc-50 rounded-2xl shadow w-[calc(100vw-10px)] max-w-[500px] noselect
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply w-full px-5 py-3 font-bold text-2xl
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  @apply h-[50svh] overflow-y-scroll noscroll
}

.modal-footer {
  @apply center w-full h-full py-2
}

/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* ************************************************************************************************** */

@font-face {
  font-family: "TheFont";
  src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2")
    format("woff2");
}

.breathe-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breathe-animation span {
  font-family: "TheFont";
  font-size: 2.5rem;
  text-align: center;
  animation: letter-breathe 3s ease-in-out infinite;
}

@keyframes letter-breathe {
  from,
  to {
    font-variation-settings: "wght" 100;
  }
  50% {
    font-variation-settings: "wght" 900;
  }
}

/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* ************************************************************************************************** */
