.notification-dropdown {
  display: none;
}

.notification-dropdown.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.notification-main {
  width: 100%;
}

.notification-container {
  display: flex;
  cursor: pointer;
}

.notification-main li:hover {
  background-color: #90E0EF;
}

.card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.card-4 h1 {
  margin-bottom: 20px;
}

.jobs-container {
  display: none;
}

.jobs-container.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 80%;
  transition: height ease-in-out 0.5s;
}

.home-jobs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  background-color: #CAF0F8;
  margin-bottom: 10px;
  padding: 1px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.home-job h3 {
  font-size: 16px;
}

.home-job p {
  font-size: 14px;
}

.home-applicants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-applicant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  background-color: #CAF0F8;
  margin-bottom: 10px;
  padding: 1px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.home-applicant h3 {
  font-size: 12px;
}

.home-applicant img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.home-applicant p {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

.home-postcreate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-post-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: 10px;
}

.home-post-header h3 {
  cursor: pointer;
}

.home-post-header h3:hover {
  color: #999;
}

.home-post-header img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px 10px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.post-caption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: 10px;
}

.post img {
  width: 900%;
}

.post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.post-interaction {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
}
