.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-body {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-buttons button {
  margin: 10px;
}

.login-img-container {
  flex: 4;
  overflow: hidden;
  height: 100%;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-main h1 {
  font-size: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  margin: 10px;
}

.form-input input {
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #344e41;
  border-radius: 1.5rem;
}

.auth-button {
  margin-top: 30px;
}

.login-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.login-footer p,
a {
  margin: 5px;
}

.reg-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reg-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.reg-body {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-body h1 {
  font-size: 50px;
}

.reg-card {
  display: flex;
}

.card {
  margin: 10px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefae0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 25px;
  color: #344e41;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-arrow {
  transition: transform 0.5s ease;
}

.card:hover .reg-arrow {
  transform: translateX(15px);
}

.reg-img-container {
  flex: 4;
  overflow: hidden;
  height: 100%;
}

.reg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reg-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.reg-footer p,
a {
  margin: 5px;
}

.reg-comp-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/leaf-bg-2.png"),
    url("../../assets/leaf-bg-1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  background-size: auto, auto;
}

.reg-comp-body {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-comp-body h1 {
  font-size: 50px;
}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-form-container {
  display: flex;
  flex-direction: column;
}

.reg-primary {
  display: grid;
  grid-template-columns: auto auto;
}

.inputbox {
  margin: 10px;
}

.inputbox input {
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #344e41;
  border-radius: 1.5rem;
}

.reg-secondary {
  display: flex;
  flex-direction: column;
}

.reg-secondary label {
  margin: 10px;
  font-size: 25px;
}

.input-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputbox select {
  width: 422px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #344e41;
  background-color: white;
  border-radius: 1.5rem;
}

.reg-img-comp-container {
  flex: 1.2;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-comp-img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.login-header button {
  margin: 20px;
}

.login-footer {
  display: flex;
  flex-direction: column;
}

.login-reg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-reset-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .login-main {
    flex-direction: column;
  }

  .login-body {
    flex: 1;
  }

  .login-img-container {
    display: none;
  }

  .login-form-main {
    flex: 1;
  }

  .login-form {
    width: 80%;
  }

  .form-input input {
    width: 100%;
  }

  .reg-main {
    flex-direction: column;
  }

  .reg-body {
    flex: 1;
  }

  .reg-img-container {
    display: none;
  }

  .reg-card {
    flex-direction: column;
  }

  .card {
    width: 80vw;
  }

  .reg-comp-main {
    flex-direction: column;
    background-image: none;
    height: auto;
  }

  .reg-comp-body {
    flex: 1;
  }

  .reg-comp-body h1 {
    font-size: 40px;
    padding-top: 40px;
  }

  .reg-primary {
    display: flex;
    flex-direction: column;
  }

  .input-secondary {
    flex-direction: column;
  }

  .auth-button {
    margin-bottom: 20px;
  }

  .reg-img-comp-container {
    display: none;
  }

  .password-reset-container {
    max-width: 100%;
    padding: 10px;
  }
  
}
