.card {
  margin: 10px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(143, 128, 255);
  background: linear-gradient(
    150deg,
    rgba(143, 128, 255, 1) 0%,
    rgba(206, 193, 248, 1) 51%
  );
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.reg-comp-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reg-comp-body {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-comp-body h1 {
  font-size: 30px;
}

.reg-img-comp-container {
  flex: 1.2;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-comp-img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.login-header button {
  margin: 20px;
}

.login-footer {
  display: flex;
  flex-direction: column;
}

.reg-footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-reset-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .form-input input {
    width: 100%;
  }

  .reg-main {
    flex-direction: column;
  }

  .reg-body {
    flex: 1;
  }

  .reg-img-container {
    display: none;
  }

  .reg-card {
    flex-direction: column;
  }

  .card {
    width: 80vw;
    height: 25dvh;
    margin-bottom: 20px;
  }

  .reg-comp-main {
    flex-direction: column;
    background-image: none;
    height: auto;
  }

  .reg-comp-body {
    flex: 1;
  }

  .reg-comp-body h1 {
    font-size: 40px;
    padding-top: 40px;
  }

  .reg-primary {
    display: flex;
    flex-direction: column;
  }

  .input-secondary {
    flex-direction: column;
  }

  .auth-button {
    margin-bottom: 20px;
  }

  .reg-img-comp-container {
    display: none;
  }

  .password-reset-container {
    max-width: 100%;
    padding: 10px;
  }
}
